{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}

{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor

    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {% liquid
      assign checked = false
      if option.selected_value == value
        assign checked = true
      endif
    %}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    
    {%
      render 'swatch-input',
      product: product,
      id: input_id,
      name: option.name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: checked,
      visually_disabled: option_disabled,
      show_colorswatch: block.settings.show_colorswatch,
      swatches_source: block.settings.swatches_source,
      swatches_type: block.settings.swatches_type,
      help_text: help_text
    %}
      
    
  {%- elsif picker_type == 'button' -%}
    <input
      type="radio"
      id="{{ input_id }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}   
      {% if option_disabled %}
        class="disabled {% if block.settings.hide_sold_variant == true %} hidesold{% endif %}"
      {% endif %}
    >

      {% if option.name == 'Color' %}

        {% if block.settings.show_colorswatch == true %}
          {% comment %} {%- liquid
              assign colorfile = value | handle | append: '.' | append: 'png'
              assign colorimg = colorfile | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
              assign colorvalue = value | downcase | replace: ' ', ''
              
          -%} {% endcomment %}
          {%- capture variantImgSrc -%}
            {%- for variant in product.variants -%}
              {%- if variant.title contains value -%}
                {%- if variant.image.src -%}
                {{ variant.image.src | image_url: width: 100, crop: 'center' }}
                {%- else -%}
                Invaild
                {%- endif -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endcapture -%}
          {%- liquid
            assign colorfile = value | handle | append: '.' | append: 'png'
            assign colorimg = colorfile | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
        -%}
          {%- liquid
            assign colorswatchvalue = value | downcase | replace: ' ', ''
            assign color_code = settings.configuration | downcase | split: " " | where: colorswatchvalue
              if color_code != blank
                assign colorswatchvalue = color_code | split: ':' | last | remove: '"]'
              endif
          -%}
          
          <label class="color-swatchimg color__swatch--{{ swatches_type }} {% if swatches_source == 'variant-images' %} show_variant_image{% endif %} color-swatch {% if option.selected_value == value %} active{% endif %}"
                  for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                  tabindex="0"
                  data-val="{{ value }}"
                  style="
                  {% if swatches_source == 'variant-images' and variantImgSrc != 'Invaild' %}background-image: url({{ variantImgSrc }}); background-size: cover;{% elsif swatches_source == 'custom-images' and images[colorfile] != blank %} background-image: url({{ colorimg }});{% else %} background-color: {{ colorswatchvalue }}; {% endif %}">{{ value }}</label>
            <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
          <label>
        <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
        </label>
        {% else %}
          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="{% if option.selected_value == value %}active{% endif %}" {% if option.selected_value == value %} tabindex="0" {% endif %} data-value="{{ value }}">
            {{ value -}}
            <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
          </label>
        {% endif %}
      {% else %}
      <label for="{{ input_id }}" class="">
        {{ value -}}
        {{ label_unavailable }}
      </label>
    {% endif %}
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      {% if option_disabled %}
        class="disabled {% if block.settings.hide_sold_variant == true %} hidesold{% endif %}"
      {% endif %}
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%} 