{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
{% if section.settings.arrow_button == true %}
  .wbcollhome h3.card__heading a.button {
    min-width: 10rem;
  }
  {% else %}
  .wbcollhome h3.card__heading a.button {
    width: 100%;
  }
{%- endif %}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}

@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}
<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="wbcollhome collection-list-wrapper page-width isolate {% if section.settings.title == blank %} no-heading{% endif %} {% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} section-{{ section.id }}-padding collection-card-info slider-arrow--{{ section.settings.arrow_position }}">
    {% comment %} <slider-component class="slider-mobile-gutter {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"> {% endcomment %}
    <{% if section.settings.auto_rotate %}slideshow-component{% else %}slider-component{% endif %} class="slider-mobile-gutter {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="heading-top {{ section.settings.heading_position }} {% if section.settings.title == blank and section.settings.subtitle == blank %}heading-topend{% endif %} {% if section.settings.title == blank and section.settings.subtitle == blank and section.settings.arrow_position != 'top' and section.settings.show_view_all != true or section.settings.button_label == blank %}heading-mnone{% endif %}">
          <div class="heading inline-richtext {{ section.settings.subheading_position }} {% if section.settings.title != blank %}sub_order_change{% endif %}">
            {%- if section.settings.subtitle != blank -%}
              <div class="heading_submain">
                <div class="heading_subtitle {% if section.settings.subheading_style == 'link' %}head_normal{% elsif section.settings.subheading_style == 'solid' %}button{% else %}button button--secondary{% endif %}">{{ section.settings.subtitle }}</div>
              </div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <h2 class="{{ section.settings.heading_size }}">
                  {{ section.settings.title }}
              </h2>
            {%- endif %}
          </div>
          {%- if section.settings.view_button_pos == 'top' or section.settings.arrow_position == 'top' -%}
            {%- if section.settings.arrow_position == 'top' or section.settings.show_view_all and section.blocks.size < collections.size and section.settings.button_label != blank -%}
              <div class="wb_button_combo {% if section.settings.view_button_pos == 'bottom' %}bcombo_auto{% endif %}{% unless section.settings.show_view_all and section.blocks.size < collections.size and section.settings.button_label != blank %} bcombo_auto{% endunless %}">
                {%- if section.settings.show_view_all and section.blocks.size < collections.size and section.settings.button_label != blank -%}
                  {%- if section.settings.view_button_pos == 'top' -%}
                    <div class="wb_home_sbtn">
                      <a href="{{ routes.collections_url }}"
                        class="{% if section.settings.view_all_style == 'link' %} link underlined-link {% elsif section.settings.view_all_style == 'solid' %}button {% else %}button button--secondary{% endif %}"
                        aria-label="{{ section.settings.button_label }}">
                        {{ section.settings.button_label }}
                      </a>
                    </div>
                  {%- endif -%}
                {%- endif -%}
                {% assign collection_to_show = section.settings.columns_desktop %}
                {% if section.settings.arrow_position == 'top' and section.settings.auto_rotate == false %}
                  <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless section.blocks.size > collection_to_show %} desktop-arrows-hide {% endunless %}">
                    <button
                        type="button"
                        class="slider-button slider-button--prev button"
                        name="previous"
                        aria-label="{{ 'general.slider.previous_slide' | t }}"
                        id="slider-button--prev-{{ section.id }}">
                        {% render 'icon-caret' %}
                    </button>
                    <button
                        type="button"
                        class="slider-button slider-button--next button"
                        name="next"
                        aria-label="{{ 'general.slider.next_slide' | t }}"
                        id="slider-button--next-{{ section.id }}">
                      {% render 'icon-caret' %}
                    </button>
                  </div>
                {% endif %}
              </div>
            {%- endif -%}
          {%- endif -%}
      </div>

      <div class="{% if section.settings.arrow_position == 'inline' %} relative {% endif %} {% if section.settings.image != blank %}pro-part grid__item {% endif %}  section__wrap grid--{{ section.settings.columns_mobile }}-col-tablet-down">
        {% assign collection_to_show = section.settings.columns_desktop %}
        {% if section.settings.arrow_position == 'inline' and section.settings.auto_rotate == false %}
          <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless section.blocks.size > collection_to_show %} desktop-arrows-hide {% endunless %}">
            <button
            type="button"
            class="slider-button slider-button--prev button"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            id="slider-button--prev-{{ section.id }}">
            {% render 'icon-caret' %}
            </button>
          </div>
        {% endif %}
        <div
          class="ul-columns grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--3-col-tablet collection-list contains-card contains-card--collection{% if section.settings.collection_card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_mobile }}-col-tablet-down  slider  slider--desktop slider--tablet collection-list--{{ section.blocks.size }}-items" id="Slider-{{ section.id }}" data-autoplay="{{ section.settings.auto_rotate }}" data-speed="{{ section.settings.change_slides_speed }}" aria-atomic="true">
          
          {%- for block in section.blocks -%}
              <ul tabindex="0" class="collection-{{ block.id }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} grid__item collection-list__item grid__item{% if block.settings.collection.featured_image == null %} collection-list__item--no-media{% endif %} slideshow__slide slider__slide" id="Slide-{{ section.id }}-{{ forloop.index }}"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {% if block.settings.collection != blank %}
                <li {{ block.shopify_attributes }}>
                  {% render 'card-collection',
                  design_type: section.settings.design_type,
                  card_collection: block.settings.collection,
                  coll_name_style: section.settings.coll_name_style, 
                  card_color_scheme: section.settings.collection_card_color_scheme,
                  card_style: section.settings.collection_card_style,
                  coll_name_alignment: section.settings.coll_name_alignment,
                  coll_name_size: section.settings.coll_name_size,
                  arrow_button: section.settings.arrow_button,
                  show_count: section.settings.show_count,
                  collection_image: section.settings.collection_image,
                  media_aspect_ratio: section.settings.image_ratio %}
                </li>
              {% else %}
                <li>
                  <div class="card-wrapper animate-arrow collection-card-wrapper">
                    <div class="card card--{{ card_style }} card--media{% if card_style == 'card' %} color-{{ card_color_scheme }} gradient{% endif %}">
                      <div class="collection_list_svg wbimgblock card__inner ratio {{ section.settings.image_ratio }}">
                        {%- liquid
                          assign placeholder_image_index = forloop.index0 | modulo: 3 | plus: 1
                          assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index
                          capture current
                            cycle 1, 2, 3, 4, 5, 6
                           endcapture
                        -%}
                        {%- if placeholder_image -%}
                          {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- else -%}
                          {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      </div>
                      <div class="card__content  {% if section.settings.design_type == 'over' %} over {% endif %}">
                        <div class="card__information">
                          <h3 class="card__heading">
                            {{ 'onboarding.collection_title' | t }}
                          </h3>
                          <p class="wp_itom_count">0 {{ 'wbcustomlabel.wballtext.cartitem' | t }}</p>
                        </div>
                      </div>
                    </div>
                </div>
                </li>
              {% endif %}
              
              </ul>
              
          {% endfor %}
        </div>
        {% if section.settings.arrow_position == 'inline' and section.settings.auto_rotate == false %}
          <div class="wb_home_sbtn slider-buttons no-js-hidden {% unless section.blocks.size > collection_to_show %} desktop-arrows-hide {% endunless %}">
            <button
                type="button" 
                class="slider-button slider-button--next button"
                name="next"
                aria-label="{{ 'general.slider.next_slide' | t }}"
                id="slider-button--next-{{ section.id }}">
                {% render 'icon-caret' %}
            </button>
          </div>
        {% endif %}

        {% if section.settings.arrow_position == 'bottom' and section.settings.auto_rotate == false %}
          <div class="arrowbtm wb_home_sbtn slider-buttons no-js-hidden {% unless section.blocks.size > collection_to_show %} desktop-arrows-hide {% endunless %}">
            <button
                type="button"
                class="slider-button slider-button--prev button"
                name="previous"
                aria-label="{{ 'general.slider.previous_slide' | t }}"
                id="slider-button--prev-{{ section.id }}">
                {% render 'icon-caret' %}
            </button>
            <button
                type="button"
                class="slider-button slider-button--next button"
                name="next"
                aria-label="{{ 'general.slider.next_slide' | t }}"
                id="slider-button--next-{{ section.id }}">
              {% render 'icon-caret' %}
            </button>
          </div>
        {% endif %}
      </div>

      {%- if section.blocks.size > 1 -%}
        <div class="slideshow__controls slider-buttons">
            {%- if section.settings.auto_rotate -%}
              <button type="button" class="focus-inset slideshow__autoplay hidden" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">{{ 'sections.slideshow.pause_slideshow' | t }}</button>
            {%- endif -%}
        </div>
      {%- endif -%}
    </{% if section.settings.auto_rotate %}slideshow-component{% else %}slider-component{% endif %}>

    {%- if section.settings.show_view_all and section.blocks.size < collections.size and section.settings.button_label != blank -%}
      {%- if section.settings.view_button_pos == 'bottom' -%}
        <div class="center wb_home_sbtn">
          <a href="{{ routes.collections_url }}"
            class="{% if section.settings.view_all_style == 'link' %} link underlined-link {% elsif section.settings.view_all_style == 'solid' %}button {% else %}button button--secondary{% endif %}"
            aria-label="{{ section.settings.button_label }}">
            {{ section.settings.button_label }}
          </a>
        </div>
      {%- endif -%}
    {%- endif -%}
    
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.sub_head"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Sub heading",
      "label": "t:settings_schema.heading.settings.sub_text.label_1"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "label": "t:settings_schema.heading.settings.sub_text.label_2",
      "options": [
        {
          "value": "link",
          "label": "t:sections.collection-list.settings.subheading_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.collection-list.settings.subheading_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.collection-list.settings.subheading_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "t:settings_schema.heading.settings.sub_text.label_3",
      "options": [
        {
          "value": "before_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__1.label"
        },
        {
          "value": "after_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__2.label"
        }
      ],
      "default": "after_head"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    {
      "type": "header",
      "content": "t:settings_schema.button.view_name"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:settings_schema.button.settings.vbutton_text.label_1",
      "default": "View all"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:settings_schema.button.settings.vbutton_text.label_3",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "view_button_pos",
      "label": "t:settings_schema.button.settings.vbutton_text.label_2",
      "options": [
        {
          "value": "top",
          "label": "t:sections.featured-collection.settings.view_button_pos.options__1.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.featured-collection.settings.view_button_pos.options__2.label"
        }
      ],
      "default": "top"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
    
    {
      "type": "select",
      "id": "arrow_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.featured-collection.settings.arrow_position.options__1.label"
        },
        {
          "value": "inline",
          "label": "t:sections.featured-collection.settings.arrow_position.options__3.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.featured-collection.settings.arrow_position.options__2.label"
        }
      ],
      "default": "inline",
      "label": "t:sections.featured-collection.settings.arrow_position.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 6,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    { 
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.collection-list.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.collection-list.settings.change_slides_speed.label",
      "default": 3
    },
    {
      "type": "color_scheme",
      "id": "collection_card_color_scheme",
      "label": "t:sections.all.colors.label_card",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "collection_card_style",
      "options": [
        {
          "value": "standard",
          "label": "t:settings_schema.collection_cards.settings.style.options__1.label"
        },
        {
          "value": "card",
          "label": "t:settings_schema.collection_cards.settings.style.options__2.label"
        }
      ],
      "default": "standard",
      "label": "t:settings_schema.collection_cards.settings.style.label"
    },
    {
      "type": "select",
      "id": "coll_name_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:settings_schema.global.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.header.blocks.mega_menu_gallery.settings.image_ratio.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.header.blocks.mega_menu_gallery.settings.image_ratio.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.header.blocks.mega_menu_gallery.settings.image_ratio.options__4.label"
        }
      ],
      "default": "small",
      "label": "t:sections.collection-list.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "collection_image",
      "options": [
        {
          "value": "collection_image",
          "label": "t:sections.collection-list.settings.collection_image.options__1.label"
        },
        {
          "value": "product_image",
          "label": "t:sections.collection-list.settings.collection_image.options__2.label"
        }
      ],
      "default": "collection_image",
      "label": "t:sections.collection-list.settings.collection_image.label"
    },
    {
      "type": "select",
      "id": "design_type",
      "options": [
        {
          "value": "below",
          "label": "t:sections.collection-list.settings.below.label"
        },
        {
          "value": "over",
          "label": "t:sections.collection-list.settings.over.label"
        }
      ],
      "default": "below",
      "label": "t:sections.collection-list.settings.type.label",
      "info": "t:sections.collection-list.settings.design_type_info.label"
    },
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "t:sections.main-list-collections.settings.show_item_count.label",
      "default": true
    }, 
    {
      "type": "select",
      "id": "coll_name_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "small",
      "label": "t:sections.collection-list.settings.coll_name_size.label",
      "info": "t:sections.collection-list.settings.coll_name_size.info"
    },
    {
      "type": "select",
      "id": "coll_name_style",
      "label": "t:sections.collection-list.settings.coll_name_style.label",
      "options": [
        {
          "value": "normal",
          "label": "t:sections.collection-list.settings.coll_name_style.options__1.label"
        },
        {
          "value": "fill_bg",
          "label": "t:sections.collection-list.settings.coll_name_style.options__2.label"
        }
      ],
      "default": "fill_bg",
      "info": "t:sections.collection-list.settings.coll_name_style.info"
    },
    {
      "type": "checkbox",
      "id": "arrow_button",
      "label": "t:sections.collection-list.settings.arrow_button.label",
      "default": false,
      "info": "t:sections.collection-list.settings.arrow_button.info"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}