{{ 'section-collection-name.css' | asset_url | stylesheet_tag }}

{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }
}
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient isolate section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="{{ section.settings.heading_position }} heading-top{% if section.settings.title == blank and section.settings.subtitle == blank %} heading-topend{% endif %} {% if section.settings.title == blank and section.settings.subtitle == blank and section.settings.show_view_all != true %}heading-mnone{% endif %}">
      <div class="heading inline-richtext {{ section.settings.subheading_position }} {% if section.settings.title != blank %}sub_order_change{% endif %}">
        {%- if section.settings.subtitle != blank -%}
          <div class="heading_submain">
            <div class="heading_subtitle {% if section.settings.subheading_style == 'link' %}head_normal{% elsif section.settings.subheading_style == 'solid' %}button{% else %}button button--secondary{% endif %}">{{ section.settings.subtitle }}</div>
          </div>
        {%- endif -%}
        {%- if section.settings.title != blank -%}
          <h2 class="{{ section.settings.heading_size }}">
            {{ section.settings.title }}
          </h2>
        {%- endif %}
      </div>
      {%- if section.settings.show_view_all and section.blocks.size < collections.size and section.settings.vbutton_label != blank -%}
        <div class="wb_button_combo">
          <div class="wb_home_sbtn">
            <a href="{{ routes.collections_url }}" class="{% if section.settings.view_all_style == 'link' %} link underlined-link {% elsif section.settings.view_all_style == 'solid' %}button {% else %}button button--secondary{% endif %}" aria-labelledby="ViewAllButton-{{ section.id }} SectionHeading-{{ section.id }}" aria-label="{{ section.settings.vbutton_label }}">
              {{ section.settings.vbutton_label }}
            </a>
          </div>
        </div>
      {%- endif -%}
    </div>

    <div class="grid">
      {%- for block in section.blocks -%}
          {% if block.settings.collection != blank %}
            <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} name-{{ block.id }}" {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              {%- liquid
                if block.settings.custom_name != blank
                  assign collection_title = block.settings.custom_name
                else
                  assign collection_title = block.settings.collection.title
                endif
              -%}
              <a href="{{ block.settings.collection.url }}">
                <div class="coll_name_bg">
                  {% if block.settings.icon != 'none' %}
                    {% render 'icon-accordion', icon: block.settings.icon %}
                  {% endif %}
                  <span>{{ collection_title }}</span>
                </div>
              </a>
            </div>
          {% else %} 
            <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} name-{{ block.id }}" {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}>
              <div class="coll_name_bg">
                {% if block.settings.icon != 'none' %}
                  {% render 'icon-accordion', icon: block.settings.icon %}
                {% endif %}
                {% if block.settings.custom_name != blank %}
                  <span>{{ block.settings.custom_name }}</span>
                {% else %}
                  <span>{{ 'onboarding.collection_title' | t }}</span>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {%- style -%}
            .name-{{ block.id }} .coll_name_bg {
              background: {{ block.settings.collbg_color }};
            }
          {%- endstyle -%}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection name",
  "tag": "section",
  "class": "section",
  "max_blocks": 15,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.sub_head"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Sub heading",
      "label": "t:settings_schema.heading.settings.sub_text.label_1"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "label": "t:settings_schema.heading.settings.sub_text.label_2",
      "options": [
        {
          "value": "link",
          "label": "t:sections.collection-list.settings.subheading_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.collection-list.settings.subheading_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.collection-list.settings.subheading_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "t:settings_schema.heading.settings.sub_text.label_3",
      "options": [
        {
          "value": "before_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__1.label"
        },
        {
          "value": "after_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__2.label"
        }
      ],
      "default": "after_head"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    
    {
      "type": "header",
      "content": "t:settings_schema.button.view_name"
    },
    {
      "type": "text",
      "id": "vbutton_label",
      "label": "t:settings_schema.button.settings.vbutton_text.label_1",
      "default": "View all"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:settings_schema.button.settings.vbutton_text.label_3",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
            },
            {
              "value": "heart",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
            },
            {
              "value": "chat",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__46.label"
            },
            {
              "value": "brightness",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__47.label"
            },
            {
              "value": "rainbow",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__48.label"
            },
            {
              "value": "snowboard",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__49.label"
            },
            {
              "value": "running",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__50.label"
            },
            {
              "value": "pilates",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__51.label"
            },
            {
              "value": "swimmer",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__52.label"
            },
            {
              "value": "fitness",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__53.label"
            },
            {
              "value": "cycling",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__54.label"
            }
          ],
          "default": "cycling",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "inline_richtext",
          "id": "custom_name",
          "label": "t:sections.collection-list.settings.collection-name.label"
        },
        {
          "type": "color",
          "id": "collbg_color",
          "label": "t:sections.collections-tabs.settings.bg_color.label",
          "default": "#F3DCDC"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection name",
      "blocks": [
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#F3DCDC"
          }
        },
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#CEF3D6"
          }
        },
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#E5E6FD"
          }
        },
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#EFDBED"
          }
        },
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#F3DCDC"
          }
        },
        {
          "type": "featured_collection",
          "settings": {
            "collbg_color": "#CEF3D6"
          }
        }
      ]
    }
  ]
}
{% endschema %}