{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  <div class="page-width max-w-center">
    {%- unless section.settings.title == blank and section.settings.description == blank -%}
      <div class="heading-top">
        <div class="heading inline-richtext">
          {%- if section.settings.title != blank -%}
            <h2 class="{{ section.settings.heading_size }} contact-form-heading">
              {{ section.settings.title }}
            </h2>
          {%- endif %}
          {%- if section.settings.description != blank -%}
            <div class="description {{ section.settings.description_style }} rte">
              {{ section.settings.description -}}
            </div>
          {%- endif %}
        </div>
      </div>
    {%- endunless -%}
    <div class="wbcontform">
      <div class="contact">
        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {% render 'icon-success' %}
              {{ 'templates.contact.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
          </div>
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'text' %}
                <label class="" for="ContactForm-name">{{- block.settings.field_label -}}</label>
                <div class="field">
                  <input
                    class="field__input"
                    autocomplete="name"
                    type="text"
                    id="ContactForm-name"
                    name="contact[{{ 'templates.contact.form.name' | t }}]"
                    value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.name' | t }}"
                    {% if block.settings.required_field %}
                      required
                    {% endif %}
                  >
                    <label class="field__label" for="ContactForm-name">{{- block.settings.label_placeholder -}}
                    {% if block.settings.required_field %}
                      <span aria-hidden="true" class="required_star">*</span>
                    {% endif %}
                  </label>
                </div>

              {% when 'email' %}
                <label class="" for="ContactForm-email">{{- block.settings.field_label -}}</label>
                <div class="field field--with-error">
                  <input
                    autocomplete="email"
                    type="email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                    id="ContactForm-email"
                    class="field__input"
                    name="contact[email]"
                    spellcheck="false"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    aria-required="true"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactForm-email-error"
                    {% endif %}
                    placeholder="{{ 'templates.contact.form.email' | t }}"
                    {% if block.settings.required_field %}
                      required
                    {% endif %}

                  >
                  <label class="field__label" for="ContactForm-email">
                    {{- block.settings.label_placeholder -}}
                    {% if block.settings.required_field %}
                      <span aria-hidden="true" class="required_star">*</span>
                    {% endif %}
                  </label>
                </div>
                {%- if form.errors contains 'email' and block.settings.required_field -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </span>
                  </small>
                {%- endif -%}
              {% when 'phone' %}
                <label class="" for="ContactForm-phone">{{- block.settings.field_label -}}</label>
                <div class="field">
                  <input
                    type="tel"
                    id="ContactForm-phone"
                    class="field__input"
                    autocomplete="tel"
                    name="contact[{{ 'templates.contact.form.phone' | t }}]"
                    pattern="[0-9\-]*"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.phone' | t }}"
                    {% if block.settings.required_field %}
                      required
                    {% endif %}

                  >
                    <label class="field__label" for="ContactForm-phone">{{- block.settings.label_placeholder -}}
                    {% if block.settings.required_field %}
                      <span aria-hidden="true" class="required_star">*</span>
                    {% endif %}
                  </label>
                </div>
              {% when 'message' %}
                <label class="" for="ContactForm-body">{{- block.settings.field_label -}}</label>
                <div class="field">
                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}"
                    {% if block.settings.required_field %}
                      required
                    {% endif %}

                  >
                      {{- form.body -}}
                    </textarea>
                  <label class="form__label field__label" for="ContactForm-body">
                    {{- block.settings.label_placeholder -}}
                    {% if block.settings.required_field %}
                      <span aria-hidden="true" class="required_star">*</span>
                    {% endif %}
                  </label>
                </div>
              {% when 'checkbox' %}
                {% if block.settings.field_label != blank %}
                  <label for="ContactForm-checkbox">{{- block.settings.field_label -}}</label>
                {% endif %}
                {% if block.settings.required_field %}
                  <span aria-hidden="true" class="required_star">*</span>
                {% endif %}
                <div class="field_checkbox">
                  {% if block.settings.first_option != blank %}
                      <input type="checkbox" id="{{ block.settings.first_option }}" name="contact[{{- block.settings.first_option -}}]" value="{{ block.settings.first_option }}" checked="checked">
                    <label for="{{ block.settings.first_option }}">{{ block.settings.first_option }}</label>
                  {% endif %}
                  {% if block.settings.second_option != blank %}
                      <input type="checkbox" id="{{ block.settings.second_option }}" name="contact[{{- block.settings.second_option -}}]" value="{{ block.settings.second_option }}">
                    <label for="{{ block.settings.second_option }}">{{ block.settings.second_option }}</label>
                  {% endif %}
                  {% if block.settings.third_option != blank %}
                      <input type="checkbox" id="{{ block.settings.third_option }}" name="contact[{{- block.settings.third_option -}}]" value="{{ block.settings.third_option }}">
                    <label for="{{ block.settings.third_option }}">{{ block.settings.third_option }}</label>
                  {% endif %}
                  {% if block.settings.fourth_option != blank %}
                      <input type="checkbox" id="{{ block.settings.fourth_option }}" name="contact[{{- block.settings.fourth_option -}}]" value="{{ block.settings.fourth_option }}">
                    <label for="{{ block.settings.fourth_option }}">{{ block.settings.fourth_option }}</label>
                  {% endif %}
                  {% if block.settings.fifth_option != blank %}
                      <input type="checkbox" id="{{ block.settings.fifth_option }}" name="contact[{{- block.settings.fifth_option -}}]" value="{{ block.settings.fifth_option }}">
                    <label for="{{ block.settings.fifth_option }}">{{ block.settings.fifth_option }}</label>
                  {% endif %}
                  {% if block.settings.sixth_option != blank %}
                      <input type="checkbox" id="{{ block.settings.sixth_option }}" name="contact[{{- block.settings.sixth_option -}}]" value="{{ block.settings.sixth_option }}">
                    <label for="{{ block.settings.sixth_option }}">{{ block.settings.sixth_option }}</label>
                  {% endif %}
                </div>
              {% when 'radio_buttons' %}
                {% if block.settings.field_label != blank %}
                  <label for="ContactForm-radio">{{- block.settings.field_label -}}</label>
                {% endif %}
                {% if block.settings.required_field %}
                  <span aria-hidden="true" class="required_star">*</span>
                {% endif %}
                <div class="field_radio">
                  {% if block.settings.first_option != blank %}
                      <input type="radio" id="{{ block.settings.first_option }}" name="contact[radio]" value="{{ block.settings.first_option }}" checked="checked">
                    <label for="{{ block.settings.first_option }}">{{ block.settings.first_option }}</label>
                  {% endif %}
                  {% if block.settings.second_option != blank %}
                      <input type="radio" id="{{ block.settings.second_option }}" name="contact[radio]" value="{{ block.settings.second_option }}">
                    <label for="{{ block.settings.second_option }}">{{ block.settings.second_option }}</label>
                  {% endif %}
                  {% if block.settings.third_option != blank %}
                      <input type="radio" id="{{ block.settings.third_option }}" name="contact[radio]" value="{{ block.settings.third_option }}">
                    <label for="{{ block.settings.third_option }}">{{ block.settings.third_option }}</label>
                  {% endif %}
                  {% if block.settings.fourth_option != blank %}
                      <input type="radio" id="{{ block.settings.fourth_option }}" name="contact[radio]" value="{{ block.settings.fourth_option }}">
                    <label for="{{ block.settings.fourth_option }}">{{ block.settings.fourth_option }}</label>
                  {% endif %}
                  {% if block.settings.fifth_option != blank %}
                      <input type="radio" id="{{ block.settings.fifth_option }}" name="contact[radio]" value="{{ block.settings.fifth_option }}">
                    <label for="{{ block.settings.fifth_option }}">{{ block.settings.fifth_option }}</label>
                  {% endif %}
                  {% if block.settings.sixth_option != blank %}
                      <input type="radio" id="{{ block.settings.sixth_option }}" name="contact[radio]" value="{{ block.settings.sixth_option }}">
                    <label for="{{ block.settings.sixth_option }}">{{ block.settings.sixth_option }}</label>
                  {% endif %}
                </div>
              {% when 'select' %}
                <label for="ContactForm-select">{{- block.settings.field_label -}}</label>
                {% if block.settings.required_field %}
                  <span aria-hidden="true" class="required_star">*</span>
                {% endif %}
                <div class="field">
                  <select class="field__input" name="contact[select]">
                    {% if block.settings.first_option != blank %}
                          <option class="form__label field__label" value="{{ block.settings.first_option }}" selected="selected">
                        {{ block.settings.first_option }}
                      </option>
                    {% endif %}
                    {% if block.settings.second_option != blank %}
                      <option class="form__label field__label" value="{{ block.settings.second_option }}">
                        {{ block.settings.second_option }}
                      </option>
                    {% endif %}
                    {% if block.settings.third_option != blank %}
                      <option class="form__label field__label" value="{{ block.settings.third_option }}">
                        {{ block.settings.third_option }}
                      </option>
                    {% endif %}
                    {% if block.settings.fourth_option != blank %}
                      <option class="form__label field__label" value="{{ block.settings.fourth_option }}">
                        {{ block.settings.fourth_option }}
                      </option>
                    {% endif %}
                    {% if block.settings.fifth_option != blank %}
                      <option class="form__label field__label" value="{{ block.settings.fifth_option }}">
                        {{ block.settings.fifth_option }}
                      </option>
                    {% endif %}
                    {% if block.settings.sixth_option != blank %}
                      <option class="form__label field__label" value="{{ block.settings.sixth_option }}">
                        {{ block.settings.sixth_option }}
                      </option>
                    {% endif %}
                  </select>
                </div>
            {% endcase %}
          {% endfor %}
          <div class="contact__button">
            <button type="submit" class="button">
              {{ 'templates.contact.form.send' | t }}
            </button>
          </div>
        {%- endform -%}
      </div>
      {%- if section.settings.enable_all == 'image' -%}
        <div class="image-with-text__media-item">
          <div class="image-with-text__media global-media-settings media">
            {%- if section.settings.image != blank -%}
              {{ section.settings.image | image_url: width: 1500 | image_tag: loading: 'lazy' }}
            {%- else -%}
              <div class="dummysvg">{{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- elsif section.settings.enable_all == 'text' -%}

        <div class="text-with-icon_card__info">
          <div class="contacttxtmain">
            {%- if section.settings.texttitle != blank -%}
              <svg width="35" height="35" viewBox="0 0 39 39" fill="#661800">
                <path data-name="Forma 1" d="M1236.5,668.9a4.55,4.55,0,1,0-4.55-4.55A4.555,4.555,0,0,0,1236.5,668.9Zm0-7.8a3.25,3.25,0,1,1-3.25,3.25A3.255,3.255,0,0,1,1236.5,661.1Zm-0.12,26.492,9.98-14.4c3.74-4.986,3.2-13.182-1.16-17.539a12.467,12.467,0,0,0-17.63,0c-4.36,4.356-4.9,12.552-1.17,17.518Zm-7.89-31.022a11.166,11.166,0,0,1,15.79,0c3.93,3.932,4.42,11.334,1.02,15.859l-8.92,12.879-8.93-12.9C1224.07,667.9,1224.56,660.5,1228.49,656.57Zm15.89,23.384a0.65,0.65,0,1,0-.16,1.291c6.84,0.8,10.48,2.973,10.48,4.23,0,1.764-6.92,4.225-18.2,4.225s-18.2-2.461-18.2-4.225c0-1.257,3.64-3.425,10.48-4.23a0.65,0.65,0,1,0-.16-1.291c-6.84.806-11.62,3.076-11.62,5.521,0,2.745,6.7,5.525,19.5,5.525s19.5-2.78,19.5-5.525C1256,683.03,1251.22,680.76,1244.38,679.954Z" transform="translate(-1217 -652)"></path>
              </svg>
            {%- endif -%}
            <div>
              {%- if section.settings.texttitle != blank -%}
                <h2>{{ section.settings.texttitle }}</h2>
              {%- endif -%}
              {%- if section.settings.demotext != blank -%}
                <p>{{ section.settings.demotext }}</p>
              {%- endif -%}
            </div>
          </div>

          <div class="contact-ihead">
            {%- if section.settings.contacttitle != blank -%}
              <svg width="35" height="35" viewBox="0 0 35 35" fill="#661800" style="margin-top:6px;">
                <path data-name="Forma 1" d="M454.586,684.5l-7.079-4.724a2.064,2.064,0,0,0-2.766.45l-2.062,2.652a0.881,0.881,0,0,1-1.13.238l-0.393-.216a32.925,32.925,0,0,1-11.029-11.037l-0.216-.392a0.885,0.885,0,0,1,.234-1.135l2.649-2.062a2.07,2.07,0,0,0,.45-2.769l-4.721-7.083a2.054,2.054,0,0,0-2.77-.624l-2.96,1.779a4.174,4.174,0,0,0-1.9,2.473c-1.066,3.886-.264,10.593,9.609,20.474,7.855,7.859,13.7,9.972,17.721,9.972a10.259,10.259,0,0,0,2.739-.358,4.171,4.171,0,0,0,2.471-1.9l1.78-2.96A2.057,2.057,0,0,0,454.586,684.5Zm-0.381,2.175-1.776,2.962a3.012,3.012,0,0,1-1.778,1.378c-3.585.986-9.849,0.17-19.328-9.316s-10.294-15.753-9.31-19.341a3.021,3.021,0,0,1,1.38-1.781l2.96-1.777a0.892,0.892,0,0,1,1.2.271l2.564,3.852,2.152,3.231a0.9,0.9,0,0,1-.194,1.2l-2.65,2.063a2.04,2.04,0,0,0-.54,2.619l0.21,0.383a34.026,34.026,0,0,0,11.5,11.5l0.383,0.211a2.038,2.038,0,0,0,2.617-.541l2.062-2.651a0.9,0.9,0,0,1,1.2-.2l7.078,4.724A0.892,0.892,0,0,1,454.205,686.672Zm-13.857-23.337a9.921,9.921,0,0,1,9.907,9.914,0.583,0.583,0,1,0,1.166,0,11.089,11.089,0,0,0-11.073-11.08A0.583,0.583,0,1,0,440.348,663.335Zm0,3.5a6.42,6.42,0,0,1,6.41,6.415,0.583,0.583,0,1,0,1.166,0,7.587,7.587,0,0,0-7.576-7.581A0.583,0.583,0,0,0,440.348,666.834Zm0,3.5a2.919,2.919,0,0,1,2.914,2.916,0.583,0.583,0,1,0,1.165,0,4.085,4.085,0,0,0-4.079-4.082A0.583,0.583,0,0,0,440.348,670.333Z" transform="translate(-420.5 -657.5)"></path>
              </svg>
            {%- endif -%}
            <div>
              {%- if section.settings.contacttitle != blank -%}
                <h2>{{ section.settings.contacttitle }}</h2>
              {%- endif -%}
              <div>
                {%- if section.settings.contsubtext != blank -%}
                  <div class="contacttitle">
                    {{ section.settings.contsubtext }}
                  </div>
                {%- endif -%}
                {%- if section.settings.footer_contact_no != blank -%}
                  <div class="contact-info">
                    <div>{{ section.settings.footer_contact_no }}</div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
          <div class="contact-ihead">
            {%- if section.settings.emailtitle != blank -%}
              <svg width="35" height="35" viewBox="0 0 35 35" fill="#661800" style="margin-top:5px;">
                <path data-name="Forma 1" d="M855.493,667.871a0.947,0.947,0,0,0-.057-0.219,0.491,0.491,0,0,0-.059-0.089,0.516,0.516,0,0,0-.077-0.091c-0.01-.008-0.014-0.019-0.024-0.027l-5.61-4.359v-4.518a1.75,1.75,0,0,0-1.75-1.751h-6.322l-2.531-1.966a1.73,1.73,0,0,0-2.128,0l-2.532,1.966h-6.321a1.75,1.75,0,0,0-1.75,1.751v4.518l-5.609,4.359c-0.01.008-.014,0.019-0.023,0.027a0.568,0.568,0,0,0-.078.091,0.486,0.486,0,0,0-.058.089,0.616,0.616,0,0,0-.033.1,0.487,0.487,0,0,0-.024.117c0,0.013-.007.023-0.007,0.035v19.845a1.737,1.737,0,0,0,.342,1.03s0,0.012.008,0.016,0.013,0.01.019,0.016a1.739,1.739,0,0,0,1.379.689h31.5a1.744,1.744,0,0,0,1.383-.691c0-.006.012-0.008,0.016-0.014a0.119,0.119,0,0,0,.008-0.016,1.732,1.732,0,0,0,.343-1.03V667.906C855.5,667.894,855.493,667.883,855.493,667.871Zm-17.844-12.1a0.559,0.559,0,0,1,.7,0l1.345,1.045h-3.383ZM822.4,688.333l15.254-11.854a0.559,0.559,0,0,1,.7,0L853.6,688.333H822.4Zm31.938-.91-15.27-11.865a1.73,1.73,0,0,0-2.128,0l-15.27,11.865V668.8l9.559,7.426a0.584,0.584,0,1,0,.715-0.923l-9.711-7.544,4.1-3.191v4.51a0.583,0.583,0,1,0,1.166,0v-10.5a0.584,0.584,0,0,1,.584-0.584h19.834a0.584,0.584,0,0,1,.583.584v10.5a0.584,0.584,0,1,0,1.167,0v-4.51l4.1,3.191-9.729,7.558a0.583,0.583,0,1,0,.715.922l9.577-7.439v18.628h0ZM845,668.489v-2.334a7,7,0,1,0-7,7,0.584,0.584,0,0,0,0-1.167,5.836,5.836,0,1,1,5.833-5.836v2.335a1.167,1.167,0,1,1-2.333,0v-2.335a0.584,0.584,0,1,0-1.167,0A2.334,2.334,0,1,1,838,663.821a0.584,0.584,0,0,0,0-1.167,3.5,3.5,0,1,0,2.358,6.081A2.327,2.327,0,0,0,845,668.489Z" transform="translate(-820.5 -654.5)"></path>
              </svg>
            {%- endif -%}
            <div>
              {%- if section.settings.emailtitle != blank -%}
                <h2>{{ section.settings.emailtitle }}</h2>
              {%- endif -%}
              <div>
                {%- if section.settings.footer_email != blank -%}
                  <div class="contact-info">
                    <div>{{ section.settings.footer_email }}</div>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
          <div class="contactfollowus">
              {%- if section.settings.contactfollow != blank -%}<h2>{{ section.settings.contactfollow }}</h2>{%- endif -%}
            {% if section.settings.show_social == true %}
              <div class="footer__column footer--social">
                {%- render 'social-icons' -%}
              </div>
            {% endif %}
          </div>

        </div>

      {% endif %}
    </div>
  </div>
  {%- if section.settings.contact_iframe_code -%}
    <div class="contgmap max-w-center p-10">
      <div id="map">{{ section.settings.contact_iframe_code }}</div>
    </div>
  {%- endif -%}
</div>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h0",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "select",
      "id": "enable_all",
      "label": "t:sections.contact-form.settings.sidecontent_type.label",
      "options": [
        {
          "value": "google",
          "label": "t:sections.contact-form.settings.sidecontent_type.options__1.label"
        },
        {
          "value": "image",
          "label": "t:sections.contact-form.settings.sidecontent_type.options__2.label"
        },
        {
          "value": "text",
          "label": "t:sections.contact-form.settings.sidecontent_type.options__3.label"
        },
        {
          "value": "none",
          "label": "t:sections.contact-form.settings.sidecontent_type.options__4.label"
        }
      ],
      "default": "text"
    },
    {
      "type": "textarea",
      "id": "contact_iframe_code",
      "label": "t:sections.contact-form.settings.embed_code.label",
      "info": "t:sections.contact-form.settings.embed_code.info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label",
      "info": "t:sections.contact-form.settings.image.info"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.label"
    },
    {
      "type": "inline_richtext",
      "id": "texttitle",
      "default": "Got Questions?",
      "label": "t:sections.multicolumn.blocks.column.settings.title.label"
    },
    {
      "type": "inline_richtext",
      "id": "demotext",
      "default": "If you’d like to learn more about us and our products, contact us!",
      "label": "t:sections.multicolumn.blocks.column.settings.text.label"
    },
    {
      "type": "header",
      "content": "t:sections.contact-form.settings.header.content"
    },
    {
      "type": "inline_richtext",
      "id": "contacttitle",
      "default": "Contact info",
      "label": "t:sections.multicolumn.blocks.column.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "contsubtext",
      "default": "<p>Find a nearest Store location</p>",
      "label": "t:sections.multicolumn.blocks.column.settings.text.label"
    },
    {
      "type": "richtext",
      "id": "footer_contact_no",
      "label": "t:sections.contact-form.settings.footer_contact_no.label",
      "default": "<p>+01 122 334 566</p>"
    },
    {
      "type": "inline_richtext",
      "id": "emailtitle",
      "default": "Email",
      "label": "t:sections.multicolumn.blocks.column.settings.title.label"
    },
    {
      "type": "richtext",
      "id": "footer_email",
      "label": "t:sections.contact-form.settings.footer_contact_no.label",
      "default": "<p>support@wengers.in</p>"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "inline_richtext",
      "id": "contactfollow",
      "default": "Follow us",
      "label": "t:sections.contact-form.settings.follow.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "inverse"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.placeholder.label",
          "id": "label_placeholder",
          "default": "Name"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field",
          "default": false
        }
      ]
    },
    {
      "type": "email",
      "name": "t:sections.contact-form.blocks.email_block.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.placeholder.label",
          "id": "label_placeholder",
          "default": "Email"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field",
          "default": true
        }
      ]
    },
    {
      "type": "phone",
      "name": "t:sections.contact-form.blocks.phone_block.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.placeholder.label",
          "id": "label_placeholder",
          "default": "Phone"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field",
          "default": true
        }
      ]
    },
    {
      "type": "message",
      "name": "t:sections.contact-form.blocks.message_block.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.placeholder.label",
          "id": "label_placeholder",
          "default": "Message"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field",
          "default": false
        }
      ]
    },
    {
      "type": "checkbox",
      "name": "t:sections.contact-form.blocks.checkbox_block.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label",
          "default": "Checkbox"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_1.label",
          "id": "first_option",
          "default": "Option 1"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_2.label",
          "id": "second_option",
          "default": "Option 2"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_3.label",
          "id": "third_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_4.label",
          "id": "fourth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_5.label",
          "id": "fifth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_6.label",
          "id": "sixth_option"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field"
        }
      ]
    },
    {
      "type": "radio_buttons",
      "name": "t:sections.contact-form.blocks.radio_block.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label",
          "default": "Radio Buttons"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_1.label",
          "id": "first_option",
          "default": "Radio option 1"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_2.label",
          "id": "second_option",
          "default": "Radio option 2"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_3.label",
          "id": "third_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_4.label",
          "id": "fourth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_5.label",
          "id": "fifth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_6.label",
          "id": "sixth_option"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field"
        }
      ]
    },
    {
      "type": "select",
      "name": "t:sections.contact-form.blocks.select_block.name",
      "settings": [
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.text_block.settings.field_label.label",
          "id": "field_label"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_1.label",
          "id": "first_option",
          "default": "Option 1"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_2.label",
          "id": "second_option",
          "default": "Option 2"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_3.label",
          "id": "third_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_4.label",
          "id": "fourth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_5.label",
          "id": "fifth_option"
        },
        {
          "type": "text",
          "label": "t:sections.contact-form.blocks.checkbox_block.settings.option_6.label",
          "id": "sixth_option"
        },
        {
          "type": "checkbox",
          "label": "t:sections.contact-form.blocks.text_block.settings.required_field.label",
          "id": "required_field"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "email"
        },
        {
          "type": "phone"
        },
        {
          "type": "message"
        }
      ]
    }
  ]
}
{% endschema %}
