{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{%- style -%}

  {% if section.settings.show_gap == false %}
    #Slider-{{ section.id }} {
      --grid-desktop-vertical-spacing: 0px;
      --grid-desktop-horizontal-spacing: 0px;
      --grid-mobile-vertical-spacing: 0px;
      --grid-mobile-horizontal-spacing: 0px;
    }
  {% endif %}
  .imagebannermain #Slider-{{ section.id }} {
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
  @media (max-width: 767px) {
    .imagebannermain #Slider-{{ section.id }} {
      column-gap: var(--grid-mobile-horizontal-spacing);
      row-gap: var(--grid-mobile-vertical-spacing);
    }
  }
{%- endstyle -%}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }} section-{{ section.id }}-padding imagebannermain wbimgbnrblock color-{{ section.settings.section_color_scheme }} gradient">

  <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- if section.settings.subtitle != blank or section.settings.title != blank -%}
        <div class="heading-top {{ section.settings.heading_position }} {% if section.settings.full_width == true %}section--full-width{% else %}page-width{% endif %}">
          <div class="heading inline-richtext {{ section.settings.subheading_position }} {% if section.settings.title != blank %}sub_order_change{% endif %}">
            {%- if section.settings.subtitle != blank -%}
              <div class="heading_submain">
                <div class="heading_subtitle {% if section.settings.subheading_style == 'link' %}head_normal{% elsif section.settings.subheading_style == 'solid' %}button{% else %}button button--secondary{% endif %}">{{ section.settings.subtitle }}</div>
              </div>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <h2 class="{{ section.settings.heading_size }}">
                  {{ section.settings.title }}
              </h2>
            {%- endif %}
          </div>
        </div>
      {%- endif %}
      <div class="{% unless section.settings.full_width == true %} page-width{% endunless %}">
        <div class="grid grid--{{ section.blocks.size }}-col" id="Slider-{{ section.id }}">
          {%- for block in section.blocks -%}
              {%- liquid
                  if block.settings.image_behavior == 'ambient'
                    assign full_width = '120vw'
                    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
                  else
                    assign full_width = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  endif
                -%}
              <div id="Slide-{{ section.id }}-{{ forloop.index }}" class="banner banner--{{ section.settings.image_height }} color-{{ block.settings.color_scheme }} gradient grid__item wb_banner_cover banner--content-align-{{ block.settings.desktop_content_alignment }}">
                
                  <div class="banner__media media{% if block.settings.image == blank %} placeholder{% endif %}{% if block.settings.image_behavior != 'none' %} animate--{{ block.settings.image_behavior }}{% endif %}">
                    {%- if block.settings.image != blank -%}
                      {%- liquid
                        assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                        assign sizes = full_width
                      -%}
                      {{
                        block.settings.image
                        | image_url: width: 3840
                        | image_tag:
                        loading: 'lazy',
                        width: block.settings.image.width,
                        height: image_height,
                        class: "zoom_effect",
                        sizes: sizes,
                        widths: widths }}
                    {% else %}
                      {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                      {%- if placeholder_slide == 1 -%}
                        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- else -%}
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%} 
                    {%- endif -%}
                    {%- if block.settings.button_label_1 == blank and block.settings.button_link_1 != blank -%}
                      <a class="full-image-link" href="{{ block.settings.button_link_1 }}"></a>
                    {%- endif -%}
                  </div>

                  <div class="banner__content banner__content--{{ block.settings.desktop_content_position }} {% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                    <div class="{% unless block.settings.subheading == blank and block.settings.heading == blank and block.settings.button_label_1 == blank %} banner__box{% endunless %} container-{{ block.id }} content-container color-{{ block.settings.color_scheme }} gradient">

                      {% if block.settings.subheading != blank %}
                        <div class="banner__subheading rte">
                          {% if block.settings.subicon != 'none' %}<span>{% render 'icon-accordion', icon: block.settings.subicon %}</span>{% endif %} <span>{{ block.settings.subheading }}</span>
                        </div>
                      {% endif %}
                      {% if block.settings.heading != blank %}
                        <h3 class="banner__heading inline-richtext {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                          {{ block.settings.heading }}
                        </h3>
                      {% endif %}
                      {% if block.settings.text != blank %}
                        <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                          {{ block.settings.text }}
                        </div>
                      {% endif %}
                      {% if block.settings.show_breadcrumbs %}
                        {% assign breadcrumbs = true %}
                        {% if settings.enable_product == false and template contains 'product' %}
                          {% assign breadcrumbs = false %}
                        {% endif %}
                        {% if settings.enable_collection == false and template contains 'collection' and collection.handle %}
                          {% assign breadcrumbs = false %}
                        {% endif %}
                        {% if breadcrumbs %}
                          {% render 'breadcrumbs' %}
                        {% endif %}
                      {% endif %}
                      {%- if block.settings.button_label_1 != blank or block.settings.button_label_11 != blank -%}
                        <div class="imgbnr_btnboth">
                          {%- if block.settings.button_label_1 != blank -%}
                            <div class="banner__buttons{% if block.settings.button_label_1 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                              {%- if block.settings.button_label_1 != blank -%}
                                <a
                                  {% if block.settings.button_link_1 == blank %}
                                  role="link" aria-disabled="true"
                                  {% else %}
                                  href="{{ block.settings.button_link_1 }}"
                                  {% endif %}
                                  {% if block.settings.link_window %} target="_blank" {% endif %}
                                  class="{% if block.settings.view_all_style == 'link' %} link underlined-link{% elsif block.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}">
                                  {{- block.settings.button_label_1 | escape -}}
                                </a>
                              {%- endif -%}
                            </div>
                          {% endif %}

                          {%- if block.settings.button_label_11 != blank -%}
                            <div class="banner__buttons{% if block.settings.button_label_11 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                              {%- if block.settings.button_label_11 != blank -%}
                                <a
                                  {% if block.settings.button_link_11 == blank %}
                                  role="link" aria-disabled="true"
                                  {% else %}
                                  href="{{ block.settings.button_link_11 }}"
                                  {% endif %}
                                  {% if block.settings.link_window1 %} target="_blank" {% endif %}
                                  class="{% if block.settings.view_all_style1 == 'link' %} link underlined-link{% elsif block.settings.view_all_style1 == 'solid' %}button{% else %}button button--secondary{% endif %}">
                                  {{- block.settings.button_label_11 | escape -}}
                                </a>
                              {%- endif -%}
                            </div>
                          {% endif %}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                  
                {%- style -%}
                  .wbimgbnrblock #Slide-{{ section.id }}-{{ forloop.index }} .media::after {
                    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
                    z-index: 1;
                  }
                  .section-image-banner .section-{{ section.id }} .banner__box.container-{{ block.id }} {
                    background-color: rgba(var(--color-background),{{ block.settings.container_overlay_opacity | divided_by: 100.0 }});
                    border-radius: var(--text-boxes-radius);
                  }
                  .section-image-banner .section-{{ section.id }} .banner--desktop-transparent .banner__box.container-{{ block.id }}{
                    background: transparent;
                    border: none;
                    border-radius: 0;
                    box-shadow: none;
                  }
                  {% if section.settings.image_height == 'adapt' and block.settings.image != blank %}
                    .wbimgbnrblock #Slide-{{ section.id }}-{{ forloop.index }}.banner--adapt::before {
                      content: '';
                      padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                    }
                  {% endif %}
                  {% if section.settings.image_height == 'adapt' and block.settings.image == blank %}
                    .wbimgbnrblock #Slide-{{ section.id }}-{{ forloop.index }}.banner--adapt::before {
                      content: '';
                      padding-bottom: 100%;
                    }
                  {% endif %}
                {%- endstyle -%}
              </div>
          {%- endfor -%}
        </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section section-image-banner",
  "max_blocks": 4,
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.video.settings.full_width.label"
    },
    
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Heading",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.sub_head"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Sub heading",
      "label": "t:settings_schema.heading.settings.sub_text.label_1"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "label": "t:settings_schema.heading.settings.sub_text.label_2",
      "options": [
        {
          "value": "link",
          "label": "t:sections.collection-list.settings.subheading_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.collection-list.settings.subheading_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.collection-list.settings.subheading_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "t:settings_schema.heading.settings.sub_text.label_3",
      "options": [
        {
          "value": "before_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__1.label"
        },
        {
          "value": "after_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__2.label"
        }
      ],
      "default": "after_head"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-banner.settings.image_height.label"
    },
    {
      "type": "checkbox",
      "id": "show_gap",
      "default": true,
      "label": "t:sections.image-banner.settings.show_gap.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "banner_with_text",
      "name": "t:sections.image-banner.presets.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-banner.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.image-banner.blocks.heading.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "select",
          "id": "subicon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            },
            {
              "value": "brightness",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__47.label"
            },
            {
              "value": "rainbow",
              "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__48.label"
            }
          ],
          "default": "rainbow",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "subheading",
          "default": "Image banner",
          "label": "t:sections.image-banner.blocks.heading.settings.subheading.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image Heading",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h0",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Image Description</p>",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },
        {
          "type": "checkbox",
          "id": "show_breadcrumbs",
          "label": "Show breadcrumbs",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.content1.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:settings_schema.button.settings.button_text.label_1",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:settings_schema.button.settings.button_text.label_2"
        },
        {
          "type": "checkbox",
          "id": "link_window",
          "label": "t:sections.slideshow.blocks.slide.settings.link_window.label",
          "default": true
        },
        {
          "type": "select",
          "id": "view_all_style",
          "label": "t:settings_schema.button.settings.button_text.label_3",
          "options": [
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
            },
            {
              "value": "outline",
              "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
            },
            {
              "value": "solid",
              "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
            }
          ],
          "default": "outline"
        },
        {
          "type": "header",
          "content": "t:sections.image-banner.blocks.buttons.settings.content2.label"
        },
        {
          "type": "text",
          "id": "button_label_11",
          "label": "t:settings_schema.button.settings.button_text.label_1",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_11",
          "label": "t:settings_schema.button.settings.button_text.label_2"
        },
        {
          "type": "checkbox",
          "id": "link_window1",
          "label": "t:sections.slideshow.blocks.slide.settings.link_window.label",
          "default": true
        },
        {
          "type": "select",
          "id": "view_all_style1",
          "label": "t:settings_schema.button.settings.button_text.label_3",
          "options": [
            {
              "value": "link",
              "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
            },
            {
              "value": "outline",
              "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
            },
            {
              "value": "solid",
              "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
            }
          ],
          "default": "outline"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": false,
          "label": "t:sections.image-banner.settings.show_text_box.label"
        },
        {
          "type": "range",
          "id": "container_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.image-banner.blocks.heading.settings.container_overlay_opacity.label",
          "default": 40
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-1"
        },
        {
          "type": "header",
          "content": "t:sections.all.animation.content"
        },
        {
          "type": "select",
          "id": "image_behavior",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.animation.image_behavior.options__1.label"
            },
            {
              "value": "ambient",
              "label": "t:sections.all.animation.image_behavior.options__2.label"
            },
            {
              "value": "fixed",
              "label": "t:sections.all.animation.image_behavior.options__3.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.animation.image_behavior.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name",
      "blocks": [
        {
          "type": "banner_with_text"
        },
        {
          "type": "banner_with_text"
        }
      ]
    }
  ]
}
{% endschema %}