{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{%- style -%}
.deliveryinfo-{{ section.id }} ul .multis-svg svg{
  width: {{ section.settings.iconwidth }}px;
  height: {{ section.settings.iconwidth }}px;
}
.section-{{ section.id }}-padding .heading-top {
    padding-top: {{ section.settings.title_padding_top }}px;
}
.section-{{ section.id }}-padding .slider__slide {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
.section-{{ section.id }}-margin{
  margin-top: {{ section.settings.margin_top }}px;
  margin-bottom: {{ section.settings.margin_bottom }}px;
}
@media screen and (max-width: 991px) {
      .section-{{ section.id }}-padding .heading-top {
        padding-top: {{ section.settings.title_padding_top | times: 0.5 | round: 0 }}px;
      }
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
    }
    .section-{{ section.id }}-padding .slider__slide {
      padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px; 
    }
    .deliveryinfo-{{ section.id }} ul .multis-svg svg {
        width: 40px;
        height: 40px;
    } 
}
@media screen and (max-width: 575px) {
    .deliveryinfo-{{ section.id }} ul .multis-svg svg {
        width: 30px;
        height: 30px;
    } 
}
{%- endstyle -%}

<div class="deliveryinfomain">
  <div id="Banner-{{ section.id }}" class="section-{{ section.id }}-padding section-{{ section.id }}-margin multicolumn {% if section.settings.title == blank %} no-heading{% endif %} {% if section.settings.imgtxt_bg == blank %} color-{{ section.settings.color_scheme }} gradient {% endif %}"{% if section.settings.imgtxt_bg != blank %}style="background-image: url('{{ section.settings.imgtxt_bg | image_url: width: 2000 }}');"{% endif %}>
    <div class="page-width isolate{% if section.settings.beside_block != blank %} service_beside{%- endif %} deliveryinfo-content color-{{ section.settings.color_scheme }} gradient">
        {%- if section.settings.title != blank or section.settings.subtitle != blank -%}
          <div class="heading-top {{ section.settings.heading_position }}">
            <div class="heading inline-richtext {{ section.settings.subheading_position }} {% if section.settings.title != blank %}sub_order_change{% endif %}">
              {%- if section.settings.subtitle != blank -%}
                  <div class="heading_submain">
                    <div class="heading_subtitle {% if section.settings.subheading_style == 'link' %}head_normal{% elsif section.settings.subheading_style == 'solid' %}button{% else %}button button--secondary{% endif %}">{{ section.settings.subtitle }}</div>
                  </div>
                {%- endif -%}
              {%- if section.settings.title != blank -%} 
                <h2 class="{{ section.settings.heading_size }}">
                    {{ section.settings.title }}
                </h2>
              {%- endif %}
            </div>
          </div>
        {%- endif -%}
      <div class="deliveryinfo {% if section.settings.show_seprator == true %} deliveryseprator {% endif %} deliveryinfo-{{ section.id }} multicolumn-list">
        <div id="Slider-{{ section.id }}" class="{% if section.settings.swipe_on_mobile %}slider scrollbar slider--tablet {% endif %}grid gap-zero grid--{{ section.blocks.size }}-col-desktop {% if section.blocks.size > 2 and section.settings.swipe_on_mobile %} grid--2-col-tablet {% else %}grid--3-col-tablet{% endif %} ">
          {%- for block in section.blocks -%}
          <ul id="Slide-{{ section.id }}-{{ forloop.index }}" class="slider__slide list-unstyled grid__item four-grid-layout flex_direction--{{ section.settings.flex_direction }} {{ section.settings.column_alignment }}" {{ block.shopify_attributes }}>
              {%- if block.settings.icon1 != 'none' -%}
                <li><span class="text-with-icons">{% render 'icon-allservice', icon: block.settings.icon1 %}</span></li>
              {%- endif -%}
              <li>
                <div class="text-with-icon_card__info">
                  {%- if block.settings.title != blank -%}
                    <h1 class="h3">{{ block.settings.title }}</h1>
                  {%- endif -%}
                  {%- if block.settings.demotext != blank -%}
                    <p class="subtext">{{ block.settings.demotext }}</p>
                  {%- endif -%}
                </div>
              </li>
          </ul>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.text_with_icons.name",
  "tag": "section",
  "max_blocks": 5,
  "disabled_on": {
    "groups": [
      "header",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.heading.head"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:settings_schema.heading.settings.head_text.label_3"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h2",
      "label": "t:settings_schema.heading.settings.head_text.label_1"
    },
    {
      "type": "header",
      "content": "t:settings_schema.heading.sub_head"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:settings_schema.heading.settings.sub_text.label_1"
    },
    {
      "type": "select",
      "id": "subheading_style",
      "label": "t:settings_schema.heading.settings.sub_text.label_2",
      "options": [
        {
          "value": "link",
          "label": "t:sections.collection-list.settings.subheading_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.collection-list.settings.subheading_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.collection-list.settings.subheading_style.options__3.label"
        }
      ],
      "default": "link"
    },
    {
      "type": "select",
      "id": "subheading_position",
      "label": "t:settings_schema.heading.settings.sub_text.label_3",
      "options": [
        {
          "value": "before_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__1.label"
        },
        {
          "value": "after_head",
          "label": "t:sections.collection-list.settings.subheading_position.options__2.label"
        }
      ],
      "default": "after_head"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.heading_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.heading_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:settings_schema.heading.settings.head_text.label_2"
    },
    {
      "type": "checkbox",
      "id": "beside_block",
      "default": false,
      "label": "t:sections.text_with_icons.settings.beside_block.label"
    },
    {
      "type": "range",
      "id": "title_padding_top",
      "min": 0,
      "max": 60,
      "step": 4,
      "unit": "px",
      "label": "t:sections.text_with_icons.settings.title_padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "iconwidth",
      "min": 20,
      "max": 65,
      "step": 1,
      "unit": "px",
      "label": "t:sections.text_with_icons.settings.iconwidth.label",
      "default": 42,
      "info": "t:sections.text_with_icons.settings.iconwidth.info"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "flex_direction",
      "options": [
        {
          "value": "row",
          "label": "t:sections.text_with_icons.settings.flex_direction.options__1.label"
        },
        {
          "value": "column",
          "label": "t:sections.text_with_icons.settings.flex_direction.options__2.label"
        }
      ],
      "default": "row",
      "label": "t:sections.text_with_icons.settings.flex_direction.label"
    },
    {
      "type": "checkbox",
      "id": "show_seprator",
      "default": false,
      "label": "t:sections.text_with_icons.settings.show_seprator.label"
    },
    {
      "type": "image_picker",
      "id": "imgtxt_bg",
      "label": "t:sections.main-product.blocks.icon_with_text.settings.imgtxt_bg.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.scrolling-bar.settings.header.text_padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 42
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 42
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.text_with_icons.blocks.image.name",
      "settings": [
        {
          "type": "select",
          "id": "icon1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__1.label"
            },
            {
              "value": "bestprice",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__14.label"
            },
            {
              "value": "return",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__15.label"
            },
            {
              "value": "quality",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__16.label"
            },
            {
              "value": "box",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__2.label"
            },
            {
              "value": "shipping",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__3.label"
            },
            {
              "value": "service",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__4.label"
            },
            {
              "value": "offer",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__5.label"
            },
            {
              "value": "support",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__6.label"
            },
            {
              "value": "delivery",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__7.label"
            },
            {
              "value": "moneyback",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__8.label"
            },
            {
              "value": "gift",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__9.label"
            },
            {
              "value": "coloruser",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__10.label"
            },
            {
              "value": "colorpayment",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__11.label"
            },
            {
              "value": "colorgift",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__12.label"
            },
            {
              "value": "colorship",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__13.label"
            },
            {
              "value": "deal",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__19.label"
            },
            {
              "value": "return policy",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__20.label"
            },
            {
              "value": "payment",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__21.label"
            },
            {
              "value": "24/7",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__22.label"
            },
            {
              "value": "online sale",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__23.label"
            },
            {
              "value": "discount",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__24.label"
            },
            {
              "value": "author",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__25.label"
            },
            {
              "value": "browse",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__26.label"
            },
            {
              "value": "offer_mail",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__27.label"
            },
            {
              "value": "resource",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__28.label"
            },
            {
              "value": "lab_tested",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__29.label"
            },
            {
              "value": "color_leaf",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__30.label"
            },
            {
              "value": "color_goal",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__31.label"
            },
            {
              "value": "color_taste",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__32.label"
            },
            {
              "value": "bag",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__18.label"
            },
            {
              "value": "24by7",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__35.label"
            },
            {
              "value": "free_delivery",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__36.label"
            },
            {
              "value": "safe_payment",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__37.label"
            },
            {
              "value": "14_day_return",
              "label": "t:sections.text_with_icons.blocks.image.settings.icon1.options__38.label"
            }
          ],
          "default": "shipping",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Heading",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "inline_richtext",
          "id": "demotext",
          "default": "Add subheading here",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.text_with_icons.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
